$main-white: #fff;
$main-bg: #f7f7f8;
$main-black: #2a2a2a;

$neutral-050: #f5f5f5;
$neutral-150: #e2e2e2;
$neutral-200: #d9d9d9;
$neutral-300: #c6c6c6;
$neutral-400: #b3b3b3;
$neutral-500: #a0a0a0;
$neutral-600: #828282;
$neutral-700: #656565;

$primary-blue-500: #2d7eda;
$aux-red: #d02550;

$light-shadow: 0 .125rem 1rem rgba(#000, .06);

$standard-transition: 0.15s ease-out;
